<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.sang.qqmusic">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="org.sang.qqmusic.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="org.sang.qqmusic.showMusic.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name="org.sang.qqmusic.service.MusicService"/>

        <activity android:name="org.sang.qqmusic.localMusic.view.LocalMusicActivity">
        </activity>
        <activity android:name="org.sang.qqmusic.playMusic.view.PlayerActivity">
        </activity>

        <service android:name="org.sang.qqmusic.service.DownLoadService"/>
    </application>

</manifest>